body{
    background-color: black;
}

.text{
    color: aliceblue;
    font-family: sans-serif;
    position: absolute; left: 65px;
    top: 10px;
    font-size:x-large;
}

.logo{
    width: 105px;
    position: absolute; left: -15px;
    top: 17px;
}

.heading{
    font-size: 900%;
    color: aliceblue;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    position: absolute; left: 15px;
    bottom: 3cm;
}

.heading-description{
    font-size: 150%;
    color: aliceblue;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    position: absolute; left: 25px;
    bottom: 3cm;
}

.MButton{
    color: white;
    border: 2px outset white;
   background-color: black;
   height:33px;
   width:130px;
   cursor:pointer;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   position: absolute; left: 30px;
   bottom: 2cm;
   font-size: 130%;
}

.MButton:hover{
    background-color: white;
    color: black;
    border: 0px outset white;
 }

.ButtonSide{
    color: white;
    cursor:pointer;
    font-family: Trebuchet MS;
    position: absolute; left: 180px;
    bottom: 1.6cm;
    text-decoration: underline;

}

.ButtonSide:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.RightMenu{
    color: white;
    font-family: Trebuchet MS;
    position: absolute; left: 90%;
}

.RightMenu:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


  
  /* Then style the iframe to fit in the container div with full height and width */
  .video {
    position: absolute;
    top: 1000px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    size: 100%;
  }